<div class="data">
    <h2>Collection details</h2>
    <ul>
        <li>Name: <%= data.name %></li>
        <li>Collection number: <%= data.id %></li>
        <li>Description: <%= data.description %></li>
    </ul>
</div>