<%- include('assets/header.html') %>
<title>Home</title>
</header>
<body>
  <%- include('assets/nav.html') %>
  <main>
  <h1>Home</h1>
  <!--#region manual-->
  <h2>Manual:</h2>
  <h3>Intro:</h3>
  <p>filler</p>

  <h3>Flashcard sets:</h3>
  <h4>Sets</h4>
  <p>filler</p>
  <h4>Flashcards</h4>
  <p>filler</p>
  <h4>Reviews</h4>
  <p>filler</p>

  <h3>User options:</h3>
  <h4>Collections</h4>
  <p>filler</p>
  <h4>Admins</h4>
  <p>filler</p>
  <h4>Daily limits</h4>
  <p>filler</p>
  <!--#endregion-->
  </main>

  <%- include('assets/footer.html') %>
</body>
