<div class="data">
    <h2>Card number: <%= data.id %> - <%= data.difficulty %></h2>
    <ul>
        <li>side: <%= data.oneSide %></li>
        <li>side content: <%= data.sideContent %></li>
    </ul>
</div>