<%- include('../../assets/header.html') %>
<title>Login</title>
<script>
  commons.test();

  async function submitForm(event){
    //: set-up
    let response; let data; let status
    event.preventDefault();
    //^ prevent the default form submission
    const input = document.getElementById('form');
    //^ get user's input

    //: send request and process response
    data = {
      //* user's inputs
      username: input.username.value,
      password: input.password.value
    };
    response = await fetch(
      //* user's request
      '/user/login',{
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify(data)
      }
    );
    status = response.status;
    response = await response.json();

    console.log(response);
    console.log(status);

    if(status == 422){
      //* invalid login
      data = { title: "error", subTitle: status, message: response.message };
      response = await fetch(
        '/message',{
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify(data)
        });
      document.body.innerHTML = await response.text();
      return;
    }

    if (status == 201){
      //* valid login
      console.log(response.token);
      commons.storeToken(response.token);
      console.log("success!");
      return;
    }
  };
// <form action="/user/login" method="POST" >
</script>
</header>
<body>
  <%- include('../../assets/nav.html') %>
  <main>
  <h1>Login</h1>
  <div class="loginContainer">
    <h2>Enter credentials:</h2>

    <form id="form" onsubmit="submitForm(event)">
      <div class="inputGroup">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
      </div>
      <div class="inputGroup">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
      </div>
      <button type="submit">Login</button>
    </form>

    <p id="info">please log in</p>
  </div>
  </main>
  <%- include('../../assets/footer.html') %>
</body>
