<%- include('../../assets/header.html') %>
<title>Login</title>
<script>
  commons.test();

  console.log("start script")
  async function submitForm(event){
    console.log("start function");
    //: set-up
    event.preventDefault();
    //^ prevent the default form submission
    const input = document.getElementById('form');
    //^ get user's input
    const data = {
      //* user's inputs
      username: input.username.value,
      password: input.password.value
    };
    console.log(data);
    const responce = await fetch(
      //* user's request
      '/user/login',{
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify(data)
      }
    )
    console.log(responce);
    console.log("end function");

  };
  // <form action="/user/login" method="POST" >
  console.log("end script");
</script>
</header>
<body>
  <%- include('../../assets/nav.html') %>
  <main>
  <h1>Login</h1>
  <div class="loginContainer">
    <h2>Enter credentials:</h2>
    <form id="form" onsubmit="submitForm(event)">
      <div class="inputGroup">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
      </div>
      <div class="inputGroup">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
      </div>
      <button type="submit">Login</button>
    </form>
    <p><%= info %></p>
  </div>
  </main>
  <%- include('../../assets/footer.html') %>
</body>
